.plane {

    height: 120px;
    width: 200px;
    margin-left: 10px;
    margin-top: 0px;
    float : left;
    padding-top:20px;
}


h1 {
    font-size: 50px;
    font-family: 'Saira', sans-serif;
    padding-top:20px;
    position: absolute;
    right:33%;
    color:white; }


.cta--burger {
    position: absolute;
    top: 33px;
    right: 23px;
    height: 17px;
    width: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
}

.cta--burger .trait {
    height: 2px;
    width: 100%;
    background-color: white
}
.cta--burger .trait-small {
    height: 2px;
    width: 60%;
    background-color: white;
}

header {
    height: 100px;
}


.menu--burger {
    height: 10vh;
    width: 20vh;
    background: linear-gradient(to right, black, #163BAF);
    color: whitesmoke;
    opacity: 100%;
    position: absolute;
    top: 0;
    right: 0;
   
}

.opened {
    transform: translateX(0%);
    transition: all 0.3s ease-in-out;
}
.closed {
    transform: translateX(100%);
    transition: all 0.3s ease-in-out;
}

.menu--burger ul li {
    list-style: none;
    text-align: left;
    padding-top: 5px;
    color: white;
    font-style: 20px;
}

.menu--burger ul {
    padding-left: 15px;
    padding-top: 5px;
    margin-top: 0;
}

@media screen and (max-width: 576px) {
    .plane{
    height: 70px;
    width: 85px;
    margin-top: 10px;
    }

    h1 {
        font-size: 35px;
        margin-right: 50px;
        line-height: 35px;
    }
}