.flex {
    display: flex;
    justify-content: space-around;
}

h3 {
    margin-top: 100px;
    margin-bottom: 50px;
    font-size: 50px;
    background: #8921CF;
    background: -webkit-repeating-linear-gradient(to bottom right, #8921CF 0%, #36CACF 100%);
    background: -moz-repeating-linear-gradient(to bottom right, #8921CF 0%, #36CACF 100%);
    background: repeating-linear-gradient(to bottom right, #8921CF 0%, #36CACF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contact-card {
border-radius: 8%;
background-color: #00A4FF;
font-family: 'Inter', sans-serif;
width: 18%;
colmaxor:white;
box-sizing: border-box;
margin: 10px;
}


.contact-card__name{
font-weight: 700;
font-size:1.5rem;
margin-bottom:1rem;
}

.contact-card__photo {
max-height: 10rem;
max-width: 10rem;
border-radius: 50%;
}


.contact-card__linkedin {
font-weight: 500;
display: flex;
align-items: center;
margin-left: 1.2rem;
font-style: italic;
font-size: 12px;
}

.contact-card__linkedin--logo {
height:1.5rem;
margin-right: 0.5rem;
}


.contact-card__linkedin--mail {
text-decoration: none;
color: white;
margin-bottom:0rem;

}


.contact-card__email{
display: flex;
font-weight: 500;
align-items: center;
margin-top:0;
margin-left: 1rem;
padding-right: 2rem;
font-style: italic;
font-size: 12px;
}

.contact-card__email--picto {
height: 1.5rem;
margin-right: 0.3rem;
margin-bottom: 0.9rem;
}

.contact-card__email--text{
    margin-top: 0;
    }