.count {
  position: relative;
  background-color: rgba(162, 206, 247, 0.849);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  font: bold 13px/20px "Helvetica Neue", Arial, Helvetica, sans-serif;
  padding: 10px;
  display: block;
  width: fit-content;
  left: 7.8%;

  border-radius: 4px;
}
