

.geolocationButton{
    position: relative;
    background-color: rgba(162, 206, 247, 0.849);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    font: bold 13px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    padding: 1px;
    border: 0;
    height: 50px;
    width: 50px;
    display: block;
    left: 7.8%;
    top:585px;
    
}



.geolocationButton:hover{
    background-color: rgba(115, 185, 255, 0.815);
    transition: 0.5s ease-in-out;
}

.logoPointer{
    max-width: 90%;
    height: 90%;
    padding:4%;
}



