.geolocation{
    position: relative;
}


.geolocationButton{
    position: relative;
    left:40%;
    background-color: rgba(162, 206, 247, 0.849);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    font: bold 13px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    max-width: fit-content;
    top: 10px;
    padding: 10px;
}