body { 
    margin: 0 auto; 
    padding: 0; 
}
.map-container {
    position: absolute;
    height:85%;
    width: 85%;
    margin-left: 12px;
   position : absolute;
    right:0;
    left:0;
    margin : 0 auto;
}

.formRadio{

    position:relative;
    background-color: rgba(171, 192, 212, 0.699);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    font: bold 13px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    width: 25%;
    top: 0;
    left: 7.5%;
    padding: 10px;
    

}



