.content{
    padding: 0rem 1rem 0rem;
    display: flex;
    justify-content: space-between;
    height: 100px;
    font-family: 'Inter', sans-serif;
    background-color: #00A4FF;
    color: white;
    align-items: center;
    background-image: url("./images/nuage.png");
    background-size: 2000px 150px;
}

@media screen and (min-width: 480px) {
    .content{
        padding: 0rem 8rem 0rem;
        font-size: 16px;
    }
}

.list{
display: flex;
flex-direction: row;
}

.list>p {
    padding-right: 2rem;

}

.list>p:hover{
    text-decoration: underline;
    cursor: pointer;
    }

@media screen and (min-width: 480px) {
    .wcs{
    display: flex;
    flex-direction: row;
    }
}
.wcs{
font-size:12px;
font-style: italic;
align-items: center;
}

.wcs>p {
    padding-right: 1rem;
}
.logo{
height:30px;
}